
.app__error{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0 2rem;

   
}
.error__img{
    padding-top: 2em;
    max-width: 500px;
}
.error__title{
    font-size: 2rem;
    padding: 1em 0 ;
}
.error__coords{
    background-color: rgb(239, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  0 1em;
  
    width: 100%;
    height: 100%;
    
}
.error__images{
   max-width: 600px;
   
}
ul{
    
    padding-left: 1rem;
}